
.setting-input {
    margin: 1px 0 10px 0;
    border-color: #999;
    border-width: 1px;
    border-style:solid;
    height: 25px;
}


.setting-checkbox {
    padding: 2px 4px;
}

.setting-inner-checkbox {
    margin-left: 1px;
    margin-right: 1px;
}

.setting-header{
    font-size:12px;
    margin:0;
}

.setting-btn {
    margin-top: 6px;
  }


.setting-btn:hover{
    border-width:1px 3px 1px 1px;
    margin-left:2px;
    margin-top:8px;
}

.setting-btn:disabled,
.setting-btn[disabled] {
    border: 1px solid #999999;
    background-color: #333232;
    color: #858282;
}
