.decision-card {
    padding: 15px;
    margin: 10px;
    background: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-left-width: 3px;
    max-width: 800px;
  }
  
  .decision-card img {
    display: block;
    width: 100px;
    margin: 0 0 5px;
  }
  
  .card-icon {
    display: block;
    width: 100px;
    margin: 0 0 5px;
  }
  
  .card-top {
    position: relative;
  }
  
  .source-link {
    margin-right: 8px;
  }
  
  .card-source {
    font-size: .85em;
    font-style: italic;
    margin: 0 0 5px;
  }
  
  .source-link:hover {
    color: rgb(0, 121, 190); 
    text-decoration: underline;
  }
  
  .card-summary {
    margin: 0 0 5px;
  }
  
  .alert-info {
    border-left-color: #0079be;
  }
  
  .alert-warning {
    border-left-color: #ffae42;
  }
  
  .alert-hard-stop {
    border-left-color: #c00;
  }
  
  .alert-error {
    border-left-color: #333;
  }

  .links-section {
    display: inline !important;
  }

  .form-link {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
